.App{
  position: relative;
  width: 100vw;
  height: 100%;
}
.App-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
.App-wrapper::before{
  content: "";
  display: block;
  background-color: crimson;
  height: 25vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.banner{
  height: 100%;
  margin-top: 40px;}
.banner p{
  font-size: 0.9rem;
  background-color: yellow;
}